
@{
    ViewData["Title"] = "Add";
}

<h1>Add Course</h1>

<form asp-action="Add" asp-controller="Course" method="post">
    <partial name="AddEditCoursePartialView" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}