@using DataAccessLayer.Models
@using DataAccessLayer.ViewModel
@model DepartmentBranch
@{
    ViewData["Title"] = "Edit Department";
}

<h1 >Update Department</h1>

<form asp-action="Edit" asp-controller="Department" method="post">
    <input type="hidden" asp-for="DepartmentId" />
    <partial name="AddEditDepartmentPartialView" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}