@using DataAccessLayer.Models
@using DataAccessLayer.ViewModel
@model StudentCourseViewModel
@{
    ViewData["Title"] = "Edit Student";

}


<h1>Add Student</h1>

<form asp-action="Add" asp-controller="Student" method="post">
    <partial name="AddEditStudentPartialView" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@* <partial name="_ValidationScriptsPartial" /> Not Working Idk why *@ 

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}